Repository KaizeNodeLabs/SafeSwap, pull requests merged in 2025-01, with the labels that each got.

#82 Move Filters next to the Product List
  frontend/app/components/marketplace/filters.tsx
  frontend/app/marketplace/[productId]/page.tsx
  frontend/app/marketplace/page.tsx
Labels: actual: 2

#88 Prepare Frontend Project for ODBoost
  apps/frontend/app/components/shared/header.tsx
  apps/frontend/app/components/shared/header/action-buttons.tsx
  apps/frontend/app/components/shared/header/header.tsx
  apps/frontend/app/components/shared/header/search-bar.tsx
  apps/frontend/app/components/shared/header/user-menu.tsx
  apps/frontend/app/components/ui/dialog.tsx
  apps/frontend/app/components/ui/scroll-area.tsx
  apps/frontend/app/components/ui/sheet.tsx
  apps/frontend/app/components/ui/switch.tsx
  apps/frontend/app/components/ui/tooltip.tsx
  apps/frontend/app/fonts/Satoshi.woff2
  apps/frontend/app/layout.tsx
  apps/frontend/app/marketplace/layout.tsx
  apps/frontend/package.json
  apps/frontend/public/images/en-flag.svg
  apps/frontend/public/images/es-flag.svg
  apps/frontend/public/images/freighter.png
  apps/frontend/public/images/lobstr.png
  package-lock.json
Labels: enhancement

#100 Add logos
  apps/frontend/app/favicon.ico
  apps/frontend/public/images/new-logo-dark.png
  apps/frontend/public/images/new-logo-light.png
Labels: enhancement

#101 style: typography update
  apps/frontend/app/globals.css
  apps/frontend/app/layout.tsx
Labels: enhancement, actual: 1, ODBoost, frontend

#105 feat: add dynamic breadcrumbs navigation
  apps/frontend/app/components/marketplace/breadcrumb-navigation.tsx
  apps/frontend/app/components/shared/breadcrumb-navigation.tsx
  apps/frontend/app/components/shared/sub-header.tsx
  apps/frontend/app/marketplace/page.tsx
Labels: enhancement, ODBoost, frontend

#108 feat: updated the safeswap logo
  apps/frontend/app/components/shared/safe-swap-logo.tsx
Labels: enhancement, ODBoost, frontend

#104 feat: setup PostgreSQL with Docker configuration
  apps/backend/.env.example
  apps/backend/docker-compose.yml
  apps/backend/postgre-setup.md
Labels: ODBoost, DevOps

#107 feat: add a component to handle empty filtered products
  apps/frontend/app/components/marketplace/products-not-found.tsx
  apps/frontend/app/marketplace/page.tsx
Labels: enhancement, ODBoost, frontend

#110 feat: add tooltips to action buttons (Wallet, Notifications, Shopping…
  apps/frontend/app/components/shared/header/action-buttons.tsx
  package-lock.json
  package.json
Labels: enhancement, ODBoost, frontend

#112 feat: Move Create Product form from modal to a dedicated page for imp…
  apps/frontend/app/marketplace/create-product/page.tsx
  apps/frontend/app/marketplace/page.tsx
Labels: enhancement, ODBoost, frontend

#109 Create connectwallet modal
  apps/frontend/app/components/shared/header/action-buttons.tsx
  apps/frontend/app/components/shared/header/connect-wallet-modal.tsx
  apps/frontend/package.json
  apps/frontend/public/images/placeholder.png
  package-lock.json
Labels: enhancement, ODBoost, frontend

#111 Research on Stellar Wallet Integration (#97)
  docs/stellar-wallet-integration-research.md
Labels: ODBoost, research

#106 updated product url to use product name as slug
  apps/frontend/app/marketplace/[productSlug]/page.tsx
  apps/frontend/app/marketplace/page.tsx
  apps/frontend/utils/generateProductSlug.ts
Labels: enhancement, ODBoost, frontend

#113 Developed User Menu with dynamic theme switching, language dropdown w…
  apps/frontend/app/components/shared/header/action-buttons.tsx
  apps/frontend/app/components/shared/header/user-menu.tsx
Labels: ODBoost

#115 Developed User Menu with dynamic theme switching, language dropdown w…
  apps/frontend/app/components/shared/header/action-buttons.tsx
  apps/frontend/app/components/shared/header/user-menu.tsx
Labels: enhancement, ODBoost, frontend

#120 Refact/create product
  apps/frontend/app/components/marketplace/hooks/useCreateProduct.hook.ts
  apps/frontend/app/components/marketplace/schema/createProduct.schema.ts
  apps/frontend/app/components/ui/button.tsx
  apps/frontend/app/components/ui/command.tsx
  apps/frontend/app/components/ui/dialog.tsx
  apps/frontend/app/components/ui/form.tsx
  apps/frontend/app/components/ui/label.tsx
  apps/frontend/app/components/ui/popover.tsx
  apps/frontend/app/marketplace/create-product/page.tsx
  apps/frontend/package.json
  package-lock.json
Labels: enhancement, ODBoost, frontend

#121 Feature/create 404 component for missing product
  apps/frontend/app/components/products/not-found.tsx
  apps/frontend/app/marketplace/[productSlug]/page.tsx
Labels: enhancement, ODBoost, frontend
