Repository KaizeNodeLabs/SafeSwap, pull requests merged in 2025-02, with the labels that each got.

#122 feat: implement internationalization on webapp
  apps/frontend/app/components/home/feature-section.tsx
  apps/frontend/app/components/home/hero-section.tsx
  apps/frontend/app/components/home/stats-section.tsx
  apps/frontend/app/components/marketplace/add-product-modal.tsx
  apps/frontend/app/components/marketplace/filters.tsx
  apps/frontend/app/components/marketplace/hooks/useCreateProduct.hook.ts
  apps/frontend/app/components/marketplace/products-not-found.tsx
  apps/frontend/app/components/marketplace/schema/createProduct.schema.ts
  apps/frontend/app/components/products/not-found.tsx
  apps/frontend/app/components/shared/delivery-country.tsx
  apps/frontend/app/components/shared/footer.tsx
  apps/frontend/app/components/shared/header/action-buttons.tsx
  apps/frontend/app/components/shared/header/connect-wallet-modal.tsx
  apps/frontend/app/components/shared/header/language-selector.tsx
  apps/frontend/app/components/shared/header/search-bar.tsx
  apps/frontend/app/components/shared/header/shopping-cart-modal.tsx
  apps/frontend/app/components/shared/header/user-menu.tsx
  apps/frontend/app/components/ui/button.tsx
  apps/frontend/app/components/ui/command.tsx
  apps/frontend/app/components/ui/dialog.tsx
  apps/frontend/app/components/ui/form.tsx
  apps/frontend/app/components/ui/label.tsx
  apps/frontend/app/components/ui/popover.tsx
  apps/frontend/app/context/language-context.tsx
  apps/frontend/app/hooks/useTranslations.ts
  apps/frontend/app/layout.tsx
  apps/frontend/app/locales/en.ts
  apps/frontend/app/locales/es.ts
  apps/frontend/app/marketplace/[productSlug]/page.tsx
  apps/frontend/app/marketplace/create-product/page.tsx
  apps/frontend/app/marketplace/page.tsx
  apps/frontend/next.config.mjs
Labels: enhancement, ODBoost, frontend

#128 chore: setup Biome in the entire monorepo
  apps/backend/.eslintrc.js
  apps/backend/.prettierrc
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/main.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/jest-e2e.json
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
  apps/frontend/.eslintrc.json
  apps/frontend/app/marketplace/[productSlug]/page.tsx
  apps/frontend/app/marketplace/create-product/page.tsx
  apps/frontend/biome.json
  apps/frontend/components/home/feature-section.tsx
  apps/frontend/components/home/hero-section.tsx
  apps/frontend/components/marketplace/products-not-found.tsx
  apps/frontend/components/marketplace/products-pagination.tsx
  apps/frontend/components/products/images-carrousel.tsx
  apps/frontend/components/providers/theme-provider.tsx
  apps/frontend/components/ui/command.tsx
  apps/frontend/components/ui/form.tsx
  apps/frontend/components/ui/pagination.tsx
  apps/frontend/components/ui/sidebar.tsx
  apps/frontend/context/language-context.tsx
  apps/frontend/hooks/useCreateProduct.ts
  apps/frontend/lib/mocks/products.ts
  apps/frontend/package.json
  biome.json
  lefthook.yml
  package-lock.json
  package.json
Labels: enhancement

#126 chore: setup GraphQL and Prisma
  README.md
  apps/backend/.env.example
  apps/backend/.gitignore
  apps/backend/README.md
  apps/backend/docker-compose.yml
  apps/backend/package.json
  apps/backend/postgres-setup.md
  apps/backend/prisma/migrations/20250205200030_create_categories_table/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/core/config/graphql.config.ts
  apps/backend/src/core/core.module.ts
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/core/prisma/prisma.module.ts
  apps/backend/src/core/prisma/prisma.service.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/categories/category.module.ts
  apps/backend/src/modules/categories/category.resolver.spec.ts
  apps/backend/src/modules/categories/category.resolver.ts
  apps/backend/src/modules/categories/category.service.spec.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/dto/category.dto.ts
  apps/backend/src/shared/utils/is-dev.util.ts
  apps/backend/test/app.e2e-spec.ts
  biome.json
  package-lock.json
Labels: enhancement, backend

#129 chore: fix prisma client issue and add Table of shadcn/ui
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/frontend/components/ui/table.tsx
  package-lock.json
  package.json
Labels: enhancement

#138 chore: added formatting workflow to GitHub Actions
  .github/workflows/ci.yml
Labels: enhancement, DevOps

#140 refactor: update ci workflow
  .github/workflows/ci.yml
Labels: enhancement

#139 feat: create reusable NotFound component and add global 404 page;
  apps/backend/package.json
  apps/frontend/app/not-found.tsx
  apps/frontend/components/marketplace/products-not-found.tsx
  apps/frontend/components/products/not-found.tsx
  apps/frontend/components/shared/not-found.tsx
Labels: enhancement, frontend

#141 Feature/add product filters
  apps/frontend/app/marketplace/layout.tsx
  apps/frontend/app/marketplace/page.tsx
  apps/frontend/components.json
  apps/frontend/components/marketplace/ProductFilter.tsx
  apps/frontend/components/marketplace/filters.tsx
  apps/frontend/components/ui/toast.tsx
  apps/frontend/components/ui/toaster.tsx
  apps/frontend/hooks/use-toast.ts
  apps/frontend/lib/utils.ts
  apps/frontend/package.json
  package-lock.json
Labels: enhancement, frontend

#142 chore: update biome config
  apps/frontend/app/not-found.tsx
  apps/frontend/components/marketplace/products-not-found.tsx
  apps/frontend/components/products/not-found.tsx
  apps/frontend/components/shared/not-found.tsx
  biome.json
Labels: enhancement

#147 fix: href of product name
  apps/frontend/app/marketplace/page.tsx
Labels: enhancement, frontend

#146 refactor: enhance marketplace layout and simplify filters logic
  apps/frontend/app/marketplace/layout.tsx
  apps/frontend/app/marketplace/page.tsx
  apps/frontend/components/marketplace/ProductFilter.tsx
  apps/frontend/components/marketplace/filters-controls.tsx
  apps/frontend/components/marketplace/filters-sheet.tsx
  apps/frontend/components/marketplace/filters.tsx
  apps/frontend/components/marketplace/products-not-found.tsx
  apps/frontend/components/marketplace/products-pagination.tsx
  apps/frontend/lib/types/filters.ts
Labels: enhancement, frontend

#150 docs: update readme
  README.md
  package-lock.json
Labels: documentation, enhancement

#152 feat: implement new sidebar structure and layout refinements
  apps/backend/package.json
  apps/frontend/app/(routes)/layout.tsx
  apps/frontend/app/(routes)/marketplace/[productSlug]/page.tsx
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/(routes)/seller/products/page.tsx
  apps/frontend/app/(routes)/seller/sell/page.tsx
  apps/frontend/app/globals.css
  apps/frontend/app/marketplace/layout.tsx
  apps/frontend/app/marketplace/page.tsx
  apps/frontend/app/my-products/layout.tsx
  apps/frontend/components/shared/header/action-buttons.tsx
  apps/frontend/components/shared/header/header.tsx
  apps/frontend/components/shared/header/index.ts
  apps/frontend/components/shared/header/search-bar.tsx
  apps/frontend/components/shared/header/user-menu.tsx
  apps/frontend/components/shared/sidebar/collapsible-sidebar-group.tsx
  apps/frontend/components/shared/sidebar/index.ts
  apps/frontend/components/shared/sidebar/language-selector.tsx
  apps/frontend/components/shared/sidebar/sidebar-settings.tsx
  apps/frontend/components/shared/sidebar/sidebar.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/components/ui/input.tsx
  apps/frontend/components/ui/separator.tsx
  apps/frontend/components/ui/sheet.tsx
  apps/frontend/components/ui/sidebar.tsx
  apps/frontend/components/ui/skeleton.tsx
  apps/frontend/components/ui/tooltip.tsx
  apps/frontend/hooks/use-mobile.tsx
  apps/frontend/lib/constants/sidebar.ts
  apps/frontend/lib/types/sidebar.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/package.json
  apps/frontend/tailwind.config.ts
  package-lock.json
Labels: enhancement, frontend

#145 Feature/add module products
  apps/backend/prisma/migrations/20250211171308_add_product_model/migration.sql
  apps/backend/prisma/migrations/20250215031524_add_products/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/modules/categories/category.resolver.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/dto/create-category.input.ts
  apps/backend/src/modules/product/dto/create-product.input.ts
  apps/backend/src/modules/product/dto/product.dto.ts
  apps/backend/src/modules/product/product.resolver.spec.ts
  apps/backend/src/modules/product/product.resolver.ts
  apps/backend/src/modules/product/product.service.spec.ts
  apps/backend/src/modules/product/product.service.ts
Labels: enhancement, backend

#154 fix: update Jest config to handle absolute paths and resolve missing PrismaService in tests
  apps/backend/package.json
  apps/backend/src/modules/categories/category.resolver.spec.ts
  apps/backend/src/modules/categories/category.service.spec.ts
  apps/backend/src/modules/product-image/product-image.resolver.spec.ts
  apps/backend/src/modules/product-image/product-image.service.spec.ts
Labels: enhancement, backend

#174 docs: update README
  README.md
Labels: enhancement

#177 Feat/sale datails page
  apps/frontend/app/(routes)/seller/sales/[id]/page.tsx
  apps/frontend/components/seller/mock/chat.mock.ts
  apps/frontend/components/seller/mock/milestones.mock.ts
  apps/frontend/components/seller/mock/sale.mock.ts
  apps/frontend/components/seller/ui/pages/SaleDetail.tsx
  apps/frontend/components/seller/ui/pages/hooks/sale-detail.hook.ts
  apps/frontend/components/seller/ui/utils/Chat.tsx
  apps/frontend/components/seller/ui/utils/Milestones.tsx
  apps/frontend/components/seller/ui/utils/hooks/chat.hook.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#180 Feat/become a seller page
  apps/frontend/app/(routes)/seller/onboarding/page.tsx
  apps/frontend/app/(routes)/seller/sales/[id]/page.tsx
  apps/frontend/components/seller/mock/chat.mock.ts
  apps/frontend/components/seller/mock/milestones.mock.ts
  apps/frontend/components/seller/mock/sale.mock.ts
  apps/frontend/components/seller/ui/pages/hooks/sale-detail.hook.ts
  apps/frontend/components/seller/ui/utils/hooks/chat.hook.ts
  apps/frontend/lib/schemas/sellerOnboarding.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#183 [FEAT]: Create "ready to become a seller" section
  apps/frontend/app/page.tsx
  apps/frontend/components/home/seller-section.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#179 feat: Create How SafeSwap Works Section Component
  apps/frontend/app/page.tsx
  apps/frontend/components/home/how-safeswap-works.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#175 feat: implemented advantages of SafeSwap feature in home page
  apps/frontend/app/page.tsx
  apps/frontend/components/home/advantages-section.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#182 Create Filters Modal #167: Added filter button
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/marketplace/filter-modal.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#186 refactor: update layout
  apps/backend/src/core/graphql/schema.gql
  apps/frontend/app/layout.tsx
Labels: enhancement

#178 feat: Create "Explore Categories" Section
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/lib/constants/categories.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/public/images/categories/bike.svg
  apps/frontend/public/images/categories/bot.svg
  apps/frontend/public/images/categories/cable.svg
  apps/frontend/public/images/categories/house-plus.svg
  apps/frontend/public/images/categories/palette.svg
  apps/frontend/public/images/categories/puzzle.svg
  apps/frontend/public/images/categories/shirt.svg
Labels: enhancement, frontend, ODBuild

#187 Feat create what our users say #161
  apps/frontend/app/(routes)/testimonial/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/components/testimonials/testimonials-carousel.tsx
  apps/frontend/lib/constants/sidebar.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  package-lock.json
Labels: enhancement, frontend, ODBuild

#184 Fix- [FEAT]: Create “Featured Products” Section Component
  apps/frontend/components/home/product-carousel.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#189 Test/category module tests
  apps/backend/src/modules/categories/category.resolver.spec.ts
  apps/backend/src/modules/categories/category.service.spec.ts
Labels: enhancement, backend, ODBuild

#188 Feat/create sales page
  apps/frontend/app/(routes)/seller/sales/page.tsx
  apps/frontend/components/seller/ui/pages/SalesHeader.tsx
  apps/frontend/components/seller/ui/pages/SalesTable.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#181 feat: Create Shopping Page #164
  apps/backend/src/core/graphql/schema.gql
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/(routes)/shopping/[id]/page.tsx
  apps/frontend/app/(routes)/shopping/page.tsx
  apps/frontend/app/(routes)/shopping/shopping-table.tsx
  apps/frontend/app/(routes)/shopping/types.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODBuild

#192 [FEAT]: Implement Connection with Freighter Wallet
  apps/frontend/app/(routes)/seller/sales/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/shared/header/connect-wallet-modal.tsx
  apps/frontend/constants/wallet-kit.constant.ts
  apps/frontend/context/WalletContext.tsx
  apps/frontend/hooks/useWallet.hook.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/package.json
  package-lock.json
Labels: enhancement, frontend, ODBuild
