Repository KaizeNodeLabs/SafeSwap, pull requests merged in 2025-04, with the labels that each got.

#240 feat: update global color palette
  apps/frontend/app/globals.css
  apps/frontend/tailwind.config.ts
Labels: frontend

#241 chore: prepare project for odhack13
  apps/backend/src/core/graphql/schema.gql
  apps/frontend/components/marketplace/filter-modal.tsx
  apps/frontend/components/marketplace/filters-controls.tsx
  apps/frontend/components/marketplace/filters-sheet.tsx
  apps/frontend/components/marketplace/filters.tsx
  apps/frontend/components/products/product-list.tsx
  apps/frontend/components/ui/avatar.tsx
  apps/frontend/components/ui/collapsible.tsx
  apps/frontend/components/ui/radio-group.tsx
  apps/frontend/hooks/useFormattedProducts.ts
  apps/frontend/lib/types/filters.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/package.json
  package-lock.json
Labels: frontend

#250 feat: redesign product datails page
  apps/frontend/app/(routes)/marketplace/[productSlug]/page.tsx
  apps/frontend/components/products/Images.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: frontend, ODHack13

#251 Implemented Message Module Feature - Closing Issue#243
  apps/backend/package.json
  apps/backend/prisma/migrations/20250425065153_add_messages/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/modules/message/dto/create-message.input.ts
  apps/backend/src/modules/message/dto/update-message.input.ts
  apps/backend/src/modules/message/entities/message.entity.ts
  apps/backend/src/modules/message/message.module.ts
  apps/backend/src/modules/message/message.resolver.spec.ts
  apps/backend/src/modules/message/message.resolver.ts
  apps/backend/src/modules/message/message.service.spec.ts
  apps/backend/src/modules/message/message.service.ts
  package-lock.json
Labels: backend, ODHack13

#252 [FEAT]: Implement Marketplace Filters UI #247
  apps/frontend/components/home/featured-products.tsx
  apps/frontend/components/marketplace/marketplace-filters.tsx
  apps/frontend/components/products/product-list.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: frontend, ODHack13

#257 feat: add condition and seller address to product model
  apps/backend/prisma/migrations/20250426194423_add_condition_and_seller_to_product/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/modules/product/dto/create-product.input.ts
  apps/backend/src/modules/product/dto/product.dto.ts
  apps/backend/src/modules/product/entities/product.entity.ts
  apps/backend/src/modules/product/product.resolver.spec.ts
  apps/backend/src/modules/product/product.service.spec.ts
Labels: backend, ODHack13

#260 Implement reviews module
  apps/backend/package-lock.json
  apps/backend/prisma/migrations/20250430120040_add_reviews/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/core/core.module.ts
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/modules/review/dto/create-review.input.ts
  apps/backend/src/modules/review/dto/rating.dto.ts
  apps/backend/src/modules/review/entities/review.entity.ts
  apps/backend/src/modules/review/review.module.ts
  apps/backend/src/modules/review/review.resolver.spec.ts
  apps/backend/src/modules/review/review.resolver.ts
  apps/backend/src/modules/review/review.service.spec.ts
  apps/backend/src/modules/review/review.service.ts
  package-lock.json
Labels: backend, ODHack13
