Repository KaizeNodeLabs/SafeSwap, pull requests merged in 2025-03, with the labels that each got.

#193 Feat/tw api implementation
  apps/frontend/app/(routes)/shopping/[id]/page.tsx
  apps/frontend/core/config/axios/https.ts
  apps/frontend/interfaces/tw.interface.ts
  apps/frontend/package.json
  apps/frontend/services/tw.service.ts
  package-lock.json
  package.json
Labels: enhancement, ODBuild, TW

#194 Feat/enhance the searchbar
  apps/frontend/components/shared/header/search-bar.tsx
  frontend/app/components/ui/delivery-button.tsx
Labels: enhancement, frontend, ODBuild

#190 Implement Real-Time Blockchain Data on Landing Page
  apps/frontend/components/home/hero-section.tsx
  apps/frontend/hooks/useStellarData.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/package-lock.json
Labels: enhancement, frontend, ODBuild

#196 refactor: update home page
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/(routes)/testimonial/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/components/home/advantages.tsx
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/components/home/feature.tsx
  apps/frontend/components/home/featured-products.tsx
  apps/frontend/components/home/hero-section.tsx
  apps/frontend/components/home/hero.tsx
  apps/frontend/components/home/how-safeswap-works.tsx
  apps/frontend/components/home/seller.tsx
  apps/frontend/components/home/stats.tsx
  apps/frontend/components/home/testimonials.tsx
  apps/frontend/components/testimonials/testimonials-carousel.tsx
  apps/frontend/hooks/useStellarData.tsx
  apps/frontend/lib/constants/categories.ts
  apps/frontend/lib/constants/sidebar.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  frontend/app/components/ui/delivery-button.tsx
Labels: enhancement, frontend

#201 feat: migrate i18n setup to next-intl and save selected language in browser cache
  apps/frontend/app/(routes)/marketplace/[productSlug]/page.tsx
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/(routes)/seller/onboarding/page.tsx
  apps/frontend/app/(routes)/seller/sell/page.tsx
  apps/frontend/app/(routes)/shopping/[id]/page.tsx
  apps/frontend/app/(routes)/shopping/shopping-table.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/home/advantages.tsx
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/components/home/feature.tsx
  apps/frontend/components/home/featured-products.tsx
  apps/frontend/components/home/hero.tsx
  apps/frontend/components/home/how-safeswap-works.tsx
  apps/frontend/components/home/seller.tsx
  apps/frontend/components/home/stats.tsx
  apps/frontend/components/home/testimonials.tsx
  apps/frontend/components/marketplace/filter-modal.tsx
  apps/frontend/components/marketplace/products-not-found.tsx
  apps/frontend/components/products/not-found.tsx
  apps/frontend/components/seller/ui/pages/SaleDetail.tsx
  apps/frontend/components/seller/ui/pages/SalesHeader.tsx
  apps/frontend/components/seller/ui/pages/SalesTable.tsx
  apps/frontend/components/seller/ui/utils/Chat.tsx
  apps/frontend/components/seller/ui/utils/Milestones.tsx
  apps/frontend/components/shared/delivery-country.tsx
  apps/frontend/components/shared/footer.tsx
  apps/frontend/components/shared/header/action-buttons.tsx
  apps/frontend/components/shared/header/connect-wallet-modal.tsx
  apps/frontend/components/shared/header/search-bar.tsx
  apps/frontend/components/shared/header/shopping-cart-modal.tsx
  apps/frontend/components/shared/header/user-menu.tsx
  apps/frontend/components/shared/sidebar/language-selector.tsx
  apps/frontend/components/shared/sidebar/sidebar-settings.tsx
  apps/frontend/context/language-context.tsx
  apps/frontend/hooks/useTranslations.ts
  apps/frontend/lib/i18n/config.ts
  apps/frontend/lib/i18n/language.ts
  apps/frontend/lib/i18n/request.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  package-lock.json
Labels: enhancement, frontend

#202 fix: show toast notification in the correct language after change
  apps/frontend/components/shared/sidebar/language-selector.tsx
Labels: enhancement, frontend

#203 feat: added translations
  apps/frontend/app/(routes)/seller/products/page.tsx
  apps/frontend/app/not-found.tsx
  apps/frontend/components/marketplace/filter-modal.tsx
  apps/frontend/components/marketplace/products-pagination.tsx
  apps/frontend/components/shared/header/search-bar.tsx
  apps/frontend/components/shared/not-found.tsx
  apps/frontend/components/shared/sidebar/collapsible-sidebar-group.tsx
  apps/frontend/components/shared/sidebar/sidebar.tsx
  apps/frontend/components/ui/pagination.tsx
  apps/frontend/lib/constants/sidebar.ts
  apps/frontend/lib/types/sidebar.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend

#204 [FEAT]: Add messages when handling the purchase process with toast notification
  README.md
  apps/frontend/app/(routes)/shopping/[id]/page.tsx
  apps/frontend/hooks/use-toast.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  package-lock.json
Labels: enhancement, frontend

#207 feat: configure Apollo Client
  apps/frontend/.env.example
  apps/frontend/README.md
  apps/frontend/app/layout.tsx
  apps/frontend/context/ApolloClientProvider.tsx
  apps/frontend/lib/apollo-client.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  package-lock.json
Labels: enhancement, frontend

#205 Feature/ redesign the explore categories section
  apps/frontend/app/globals.css
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/lib/constants/categories.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend

#219 feat: create profile page
  apps/frontend/app/(routes)/profile/page.tsx
  apps/frontend/components/shared/country-select.tsx
  apps/frontend/lib/constants/countries.ts
  apps/frontend/lib/mocks/profile.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODHack12

#221 feat: Implement Categories Page
  apps/frontend/app/(routes)/categories/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/components/categories/page.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODHack12

#224 feat: Add the Functionality to Switch Dark Mode and Language on Home …
  apps/frontend/app/page.tsx
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/components/home/featured-products.tsx
  apps/frontend/components/home/floating-settings.tsx
  apps/frontend/components/home/hero.tsx
  apps/frontend/components/shared/sidebar/language-selector.tsx
  apps/frontend/components/shared/sidebar/sidebar-settings.tsx
  apps/frontend/components/shared/sidebar/sidebar.tsx
Labels: enhancement, frontend, ODHack12

#218 feat: Create a GitHub Actions Workflow to Run Backend Tests
  .github/workflows/backend-tests.yml
  .gitignore
  apps/backend/src/core/graphql/schema.gql
Labels: enhancement, backend, DevOps, ODHack12

#222 Feature/update become a seller form
  apps/frontend/app/(routes)/seller/onboarding/page.tsx
  apps/frontend/app/globals.css
  apps/frontend/lib/schemas/sellerOnboarding.ts
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
Labels: enhancement, frontend, ODHack12

#223 Feat/user graphql endpoint
  apps/backend/prisma/migrations/20250324055310_add_users/migration.sql
  apps/backend/prisma/migrations/20250324221225_/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/core/core.module.ts
  apps/backend/src/core/graphql/schema.gql
  apps/backend/src/modules/users/dto/create-user.input.ts
  apps/backend/src/modules/users/dto/update-user.input.ts
  apps/backend/src/modules/users/entity/user.entity.ts
  apps/backend/src/modules/users/users.module.ts
  apps/backend/src/modules/users/users.resolver.spec.ts
  apps/backend/src/modules/users/users.resolver.ts
  apps/backend/src/modules/users/users.service.spec.ts
  apps/backend/src/modules/users/users.service.ts
  apps/backend/src/modules/users/validators/is-stellar-public-key.validator.ts
  package-lock.json
Labels: enhancement, backend, ODHack12

#225 Display products
  apps/backend/prisma/seed.ts
  apps/backend/src/core/graphql/schema.gql
  apps/frontend/app/(routes)/marketplace/[productSlug]/page.tsx
  apps/frontend/app/(routes)/marketplace/page.tsx
  apps/frontend/app/(routes)/seller/products/page.tsx
  apps/frontend/app/api/products/categories/route.ts
  apps/frontend/app/api/products/images/route.ts
  apps/frontend/app/api/products/route.ts
  apps/frontend/app/page.tsx
  apps/frontend/components/home/explore-categories.tsx
  apps/frontend/components/home/featured-products.tsx
  apps/frontend/components/home/floating-settings.tsx
  apps/frontend/components/home/hero.tsx
  apps/frontend/components/products/product-card.tsx
  apps/frontend/components/products/product-list.tsx
  apps/frontend/components/shared/sidebar/language-selector.tsx
  apps/frontend/components/shared/sidebar/sidebar.tsx
  apps/frontend/hooks/useFilteredProducts.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/types/product.ts
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  package-lock.json
Labels: fullstack, ODHack12

#233 Feature/ implement skeleton loader
  apps/frontend/components/products/product-card-skeleton.tsx
  apps/frontend/components/products/product-list.tsx
Labels: frontend, ODHack12

#236 feat: make pagination functional
  apps/frontend/components/marketplace/products-pagination.tsx
  apps/frontend/components/products/product-card-skeleton.tsx
  apps/frontend/components/products/product-list.tsx
Labels: frontend, ODHack12

#234 Feat/implement settings page
  apps/frontend/app/(routes)/settings/page.tsx
  apps/frontend/components/settings/settings-page.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/tailwind.config.ts
Labels: frontend, ODHack12

#232 [FEAT]: Integrate Sales Metrics Charts in Sales Dashboard
  apps/frontend/app/(routes)/seller/sales/page.tsx
  apps/frontend/components/seller/mock/sales-analytics.mock.ts
  apps/frontend/components/seller/ui/pages/SalesHeader.tsx
  apps/frontend/components/seller/ui/pages/SalesTable.tsx
  apps/frontend/components/seller/ui/pages/analytics/CategoryChart.tsx
  apps/frontend/components/seller/ui/pages/analytics/SalesAnalytics.tsx
  apps/frontend/components/seller/ui/pages/analytics/SalesAnalyticsHeader.tsx
  apps/frontend/components/seller/ui/pages/analytics/SalesChart.tsx
  apps/frontend/components/seller/ui/pages/analytics/SalesTabContent.tsx
  apps/frontend/components/seller/ui/pages/analytics/StatsCards.tsx
  apps/frontend/components/ui/tabs.tsx
  apps/frontend/locales/en.ts
  apps/frontend/locales/es.ts
  apps/frontend/package.json
Labels: frontend, ODHack12
